In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
import numpy as np
from matplotlib import pyplot
import seaborn as sns
import dateutil.parser
from pandas import Timestamp

In [2]:
traffic = pd.read_csv("US_Accidents_June20.csv")

time_df = traffic[['Start_Time','City','State','Timezone']]

time_df

            Start_Time          City State    Timezone
0        2/8/2016 5:46        Dayton    OH  US/Eastern
1        2/8/2016 6:07  Reynoldsburg    OH  US/Eastern
2        2/8/2016 6:49  Williamsburg    OH  US/Eastern
3        2/8/2016 7:23        Dayton    OH  US/Eastern
4        2/8/2016 7:39        Dayton    OH  US/Eastern
...                ...           ...   ...         ...
11482  1/17/2017 21:17      San Jose    CA  US/Pacific
11483  1/17/2017 21:16    Sacramento    CA  US/Pacific
11484  1/17/2017 21:21      Berkeley    CA  US/Pacific
11485  1/17/2017 21:23     San Mateo    CA  US/Pacific
11486  1/17/2017 21:22       Concord    CA  US/Pacific

[11487 rows x 4 columns]

In [3]:
# dti = pd.date_range (start= '2016-02-08 06:07:00',
#                     freq='H', periods=3, tz= 'US/Eastern')
# dti

In [4]:
# dti.tz_localize
# index =  pd.date_range (start= '2016-02-08 06:07:00',
#                     freq='H', periods=11487, tz= 'US/Eastern')
# time_df = pd.DataFrame(1, index=index, columns = ['X'])
# time_df

In [5]:
date_time = time_df['Start_Time'][1:30].apply(lambda x: dateutil.parser.parse(x))
date_time.head()

1   2016-02-08 06:07:00
2   2016-02-08 06:49:00
3   2016-02-08 07:23:00
4   2016-02-08 07:39:00
5   2016-02-08 07:44:00
Name: Start_Time, dtype: datetime64[ns]

In [6]:
# dti = pd.date_range (start= '2016-02-08 06:07:00',
#                     freq='H', periods=3, tz= 'US/Eastern')
# dti

In [7]:
# dti.tz_localize
# index =  pd.date_range (start= '2016-02-08 06:07:00',
#                     freq='H', periods=11487, tz= 'US/Eastern')
# time_df = pd.DataFrame(1, index=index, columns = ['X'])
# time_df

In [8]:
time_df["Hour"] =time_df['Start_Time'].apply(lambda x: dateutil.parser.parse(x))
time_df['Hour'][0:4].apply(lambda timestamp: timestamp.hour)

<ipython-input-8-14ead409dc0c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  time_df["Hour"] =time_df['Start_Time'].apply(lambda x: dateutil.parser.parse(x))

0    5
1    6
2    6
3    7
Name: Hour, dtype: int64

In [9]:
# time_df['Hour'][0:4].apply(lambda timestamp: timestamp.hour)

In [ ]:
time_df['Hour'].plot(kind="bar")
plt.title('Accidents by Hour')
plt.show

In [ ]:
dims = (11.7, 8.27)
fig, ax = pyplot.subplots(figsize=dims)
sns.countplot(x=time_df['Hour'].apply(lambda timestamp: timestamp.hour))
ax.set(xlim=(0,24), xlabel = 'Time of Day', ylabel = 'Number of Accidents', title = 'Accidents by Hour')

In [ ]:
dims = (10, 7)
fig, ax = pyplot.subplots(figsize=dims)
sns.countplot(x=time_df['Time_added'].apply(lambda timestamp: timestamp.day))

In [ ]:
time_list = time_df['Time_added'].apply(lambda timestamp: timestamp.hour).value_counts()
time_list

In [ ]:
tl = time_list.sort_index(axis = 0, ascending=True, inplace=False,sort_remaining=True,key=None)
tl

In [ ]:
sns.scatterplot(data=tl, x=time_df['Time_added'], y = tl)